<div class="memberclassbody">
<h1> Member View </h1>
<hr>
<h2> Current Record </h2>
<p>first name : <%= @member.first_name %></p>
<p>last name : <%= @member.last_name %></p>
<p>Account type : <%= @member.account_type %></p>
<p>Account status: <%= @member.status %></p>
<hr>
<h2> Update Record Form  </h2>
<form action="/members/update" method="post">
<label for="id"> Member id:</label><br>
<select name="id">
	<option value=<%= @member.id %> readonly><%= @member.id %></option>
</select><br>
<p><label for="first_name">First Name:</label></p>
<p><input type="text" name="first_name" placeholder="<%=@member.first_name%>"></p>
<p><label for="last_name">Last Name:</label></p>
<p><input type="text" name="last_name" placeholder="<%=@member.last_name%>"></p>
<p><label for="account_type">Account Type:</label></p>
<p><select name="account_type">
	<option value="standard">Standard Account</option>
	<option value="premium">Premium Account</option>
</select></p>
<p><label for="status">Account Status:</label></p>
<p><select name="status">
	<option value="active">Active Account</option>
	<option value="inactive">Deactivated Account</option>
</select></p>
<p>
	<input type="submit" value="Click Here To Update The Current Member Record">

	<input type="reset">
</p>
</form>
</div>
