<h2 align=center> Gym Classes Index Page </h2>
<hr>
<table border=1 align=center>
<tr>
<th colspan = 4> Gym Class list</th>
</tr>
<tr>
<th> Gym Class ID </th>
<th> Status </th>
<th> Name </th>
<th> Commands </th>
<% if @classes != nil %>
<% 	for gym_class in @classes %>
<tr class="gym_class_table_row_contents">
	<td class="gym_class_table_data"> <%= gym_class.id%> </td>
	<td class="gym_class_table_data"> <%= gym_class.name %> </td>
	<td class="gym_class_table_data"> <%= gym_class.status %> </td>
	<td id = "gym_class_index_command_buttons">
		<form action="/gym_classs/<%= gym_class.id %>/view" method "GET">
		<input type="submit" value="View">
		</form>
	    <form action="/gym_classs/<%= gym_class.id %>/delete" method="POST">
        <input type="submit" value="delete" />
    	</form>
		<form action="/gym_classs/<%= gym_class.id %>/toggle" method="POST">
		<% if gym_class.status == "active" %>
			<input type="submit" value="deactivate">
		<% else %>
			<input type="submit" value="activate">
		<% end %>
		</form>
	</td>
</tr>
<% end %>
<% else %>
	<tr>
		<td colspan = 4 align = center> no gym classs currently registered </td>
	</tr>
<% end %>
</table>
<hr>

<h2 align=center>Register New gym_class form:</h2>
<br>
<form action = "/gym_classes" method="post" align = center>
	<label for = "name">Gym Class Name:</label>
	<input type = "text" id="gym_name" name="name">
	<input type = "submit" value = "Generate">
</form>
