<h2 align=center> Booking Index Page </h2>
<hr>
<table border=1 align=center>
<tr>
<th colspan = 4> Booking list</th>
</tr>
<tr>
<th> ID </th>
<th> Member ID </th>
<th> Session ID </th>
<th> Gym Class ID </th>
<th> commands </th>
<% if @bookings != nil %>
<% 	for booking in @bookings %>
<tr class="booking_table_row_contents">
	<td class="booking_table_data"> <%= booking.id%> </td>
	<td class="booking_table_data"> <%= booking.member_id %> </td>
	<td class="booking_table_data"> <%= booking.session_id %> </td>
	<td id = "booking_index_command_buttons">
	    <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input type="submit" value="delete" />
    	</form>
	</td>
</tr>
<% end %>
<% else %>
	<tr>
		<td colspan = 4 align = center> no bookings currently registered </td>
	</tr>
<% end %>
</table>
<hr>

<h2 align=center>Register New Booking Form:</h2>
<br>
<form action = "/bookings" method="post" align = center>
	<label for = "time_slot">Session ID:</label>
	<select name="session_id">
	<% for gym_class in @gym_classes %>
		<% for session in @sessions %>
			<option value="<%= session.id %>"><%= gym_class.name at <%= session.time_slot %>hrs
			</option>
		<% end %>
    <% end % >
	</select>
	<label for ="member_id">Member ID:</label>
	<select name="member_id">
		<% for member in @members %>
			<% if member.status == 'active' %>
				<option value="<%= member.id %>"><%= member.id %></option>
			<% elsif member.status == 'inactive' %>
			<% end %>
		<% end %>
	</select>
	<input type = "submit" value = "Generate">
</form>
