<h2 align=center> Booking Listings Page </h2>
<table border=1 align=center>
<tr>
<th colspan = 8> Booking list</th>
</tr>
<tr>
<th> Booking ID </th>
<th> Member ID </th>
<th> Member Name </th>
<th> Gym Class ID </th>
<th> Gym Class Name </th>
<th> Session ID </th>
<th> time slot </th>
<th> commands </th>
<% if @bookings != nil %>
<% 	for booking in @bookings %>
<tr class="booking_table_row_contents">
	<td class="booking_table_data"> <%= booking.id%> </td>
	<td class="booking_table_data"> <%= booking.member_id %> </td>
	<td class="booking_table_data"> <%= Member.find_by_id(booking.member_id).fullname %> </td>
	<td class="booking_table_data">
 	<%= GymClass.find_by_id(Session.find_by_id(booking.session_id).gym_class_id).id %>
 	</td>
	<td class="booking_table_data">
	<%= GymClass.find_by_id(Session.find_by_id(booking.session_id).gym_class_id).name %>
	</td>
	<td class="booking_table_data"> <%= booking.session_id %> </td>
	<td class="booking_table_data"> <%= Session.find_by_id(booking.session_id).time_slot %> </td>
	<td id = "booking_index_command_buttons">

	    <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input type="submit" value="delete" />
    	</form>
	</td>
</tr>
<% end %>
<% else %>
	<tr>
		<td colspan = 8 align = center> no bookings currently registered </td>
	</tr>
<% end %>
</table>
<hr>

<h2 align=center>Register New Booking Form:</h2>
<br>
<form action = "/bookings" method="post" align = center>
	<label for = "session_id">Session ID:</label>
	<select name="session_id">
	<% for gym_class in @gym_classes %>
		<% if gym_class.status == 'active' %>
				<% for session in @sessions %>
					<% if gym_class.id == session.gym_class_id %>
						<option value="<%= session.id %>">
							Gym ID:<%= gym_class.id %>-<%= gym_class.name %>, Time Slot:<%= session.time_slot%>
						</option>
					<% end %>
				<% end %>
		<% elsif gym_class.status == 'inactive' %>
		<% end %>
    <% end %>
	</select>
	<label for ="member_id">member ID:</label>
	<select name="member_id">
		<% for member in @members %>
			<% if member.status == 'active' %>
				<option value="<%= member.id %>"><%= member.id %> <%= member.fullname %></option>
			<% elsif member.status == 'inactive' %>
			<% end %>
		<% end %>
	</select>
	<input type = "submit" value = "Generate">
</form>
<br>
