<h2 align=center> Session page </h2>

<h3>Class:'<%= @gym_class.name %>' Time Slot:<%= @session.time_slot %>hrs</h3>

<p>booking capacity: <%= @session.maximum_bookings %> </p>
<p>available bookings: <%= @session.available_bookings %> </p>

<% if @bookings.length != 0 %>
<h3 > Current Active Bookings </h3>
<hr>
	<% for booking in @bookings%>

		Booking ID:<%= booking.id %><br>
		Member ID: <%= booking.member_id %><br>
		Member name: <%= Member.find_by_id(booking.member_id).fullname %><br>
<hr>
	<% end %>
	<hr>
	<p align=center>--- End of Listing ---</p>
<% else %>
<p>This Session has no bookings</p>

<% end %>
<br>
