
<div class="centerall">
<h2 align=center> Sessions index page </h2>
</div>
<%= @sessions %>
<table border=1 align=center>
<tr>
<th colspan = 5> Sessions list for "<%= @gym_class.name %>"</th>
</tr>
<tr>
<th> ID </th>
<th> Status </th>
<th> time_slot </th>
<th> max_bookings </th>
<th> Commands </th>
</tr>
<% if @sessions != nil %>
<% 	for session in @sessions %>
<tr class="session_table_row_contents">
	<td class="session_table_data"> <%= session.id%> </td>
	<td class="session_table_data"> <%= session.name %> </td>
	<td class="session_table_data"> <%= session.status %> </td>
	<td id = "session_index_command_buttons">
		<form action="/sessions/<%= session.id %>/index" method "GET">
		<input type="submit" value="View">
		</form>
	    <form action="/sessions/<%= session.id %>/delete" method="POST">
        <input type="submit" value="delete">
    	</form>
		<form action="/sessions/<%= session.id %>/toggle" method="POST">
		<% if session.status == "active" %>
			<input type="submit" value="deactivate">
		<% else %>
			<input type="submit" value="activate">
		<% end %>
		</form>
	</td>
</tr>
<% end %>
<% else %>
	<tr>
		<td colspan=5 align = center> no sessions currently registered </td>
	</tr>
<% end %>
</table>
<hr>

<h2 align=center>Register New session form:</h2>
<br>
<form action = "/sessions" method="post" align = center>
	<label for = "name">Gym Class ID:</label>
	<select name="gym_class_id">
	<option value="<%= @gym_class.id %>" default><%= @gym_class.id %></option>
	</select>
	<label for="time_slot">Time Slot:</label>
	<input type = "text"  name="time_slot">
	<label for="maximum_bookings">Max Bookings(5-30)</label>
	<input type = "number" name="maximum_bookings" min="5" max="30">
	<input type = "submit" value = "Add time slot to Gym Class">
</form>
